@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    background: linear-gradient(to bottom, rgb(135,206,250) 0%, rgba(221,190,64,1) 46%, rgba(168,217,235,1) 80%, rgb(135,206,250) 100%);
}


#sketch {
  width:400px;
  height:800px;
  position:absolute;
  top:100px;
  left:200px;
}

#text_sketch {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:500px;
  height:300px;
  position:absolute;
  top:400px;
  left:900px;
}

#pen {
  position:absolute;
  top:2px;
  left:600px;
  transform: rotate(35deg);
  animation: draw 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

@keyframes  draw{
     50% {transform: translateY(50px);}
}


#shirt{
  position:absolute;
  top:4000px;
  left:700px;
}

/*#fabric{
  width:600px;
  height:300px;
  background-color: gray;
  position:absolute;
  top:1100px;
  left:500px;
  transition: height 5s;
}
*/

a {
  background-color: white;
  position:absolute;
  top:1100px;
  left:500px;
  display:block;
  height: 200px;
  width:800px;
  transition: height 4s;
  }

a:focus{
        height:1000px;
       }



#topfabric{  background-color: red;
  position:absolute;
  top:1000px;
  left:500px;
  height: 100px;
  width:800px;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {

  50% {transform:translateY(25px);}

}

#text_fabricleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1100px;
  left:-200px;
}

#text_fabricright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1600px;
  right:-200px;
}

#text_fabricleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
   height:300px;
   position:absolute;
   top:2300px;
   left:-200px;
}

#text_fabricright2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:2800px;
  right:-200px;
}


#text_fabricleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1100px;
  left:-200px;
}

#text_fabricright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1600px;
  right:-200px;
}

#text_fabricleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:2300px;
  left:300px;
}

#text_fabricright2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:2800px;
  right:400px;
}

#factory {  position:absolute;
  top:2900px;
  right:400px;

}

#text_factoryleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:3300px;
  left:300px;
}

#text_factoryright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:3800px;
  right:400px;
}

#text_factoryleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:3500px;
  right:500px;
}

#f22{  position:absolute;
  top:4500px;
  left:100px;

}

#zaza {  position:absolute;
        top:4500px;
        left:500px;

}


#text_landfillleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5100px;
  left:300px;
}

#text_landfillright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5600px;
  right:-200px;
}

#text_landfillleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5300px;
  left:300px;
}

#text_landfillright2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5800px;
  right:400px;
}

/*Section guidelines*/
#section1{
  height:1000px;
  width:
  margin:0 auto;
  position:relative;

}
#section2{
  border:2px solid green;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section3{
  border:2px solid yellow;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section4{
  border:2px solid blue;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section5{
  border:2px solid orange;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section6{
  border:2px solid purple;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section7{
  border:2px solid red;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section8{
  border:2px solid blue;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section9{
  border:2px solid yellow;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section10{
  border:2px solid green;
  height:1000px;
  margin:0 auto;
  position:relative;
}

/*End section guidelines*/
