@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: '215000E';
    src: url("215000E.ttf");
}


/*body {
  background: url("clouds.png");
    background: linear-gradient(to bottom, rgb(135,206,250) 0%, rgba(221,190,64,1) 46%, rgba(168,217,235,1) 80%, rgb(135,206,250) 100%);
} */

.sketch{
  background-color:#ff6347;
}

#sketch {
  width:400px;
  height:800px;
  position:absolute;
  top:250px;
  left:150px;
}

#text_sketch1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:500px;
  height:300px;
  position:absolute;
  top:400px;
  left:900px;
}

#pen {
  position:absolute;
  top:175px;
  left:420px;
  transform: rotate(20deg);
  animation: draw 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

@keyframes  draw{
     50% {transform: translateY(50px);}
}

#text_sketch {
  font-family: '215000E';
  font-size: 200px;;
  position:absolute;
  top:0px;
  left:400px;
    animation:blinkingText 3s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    100%{   color: #000;    }
}

#shirt{
  position:absolute;
  top:4000px;
  left:500px;
}

#oldshirt{
  position:absolute;
  top:8050px;
  left:500px;
}

#dirtyshirt{
  position:absolute;
  top:9050px;
  left:500px;
}



#fabricroll {
  z-index: -1;
  width:700px;
  height:1000px;
  position:absolute;
  top:1100px;
  left:500px;
}


#dye{
  width:700px;
  height:1200px;
  position:absolute;
  top:1800px;
  left:500px;
  animation:8s ease 5s normal infinite fadein;
-webkit-animation:8s ease 5s normal infinite fadein;
opacity:0
}
@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}


/*a {
  background-color: white;
  position:absolute;
  top:1100px;
  left:500px;
  display:block;
  height: 200px;
  width:800px;
  transition: height 4s;
  }

a:focus{
        height:1000px;
       }
*/
#extra {
    background-color:white;
    position:absolute;
    top:2000px;
    left:500px;
    height: 1000px;
    width:800px;
}


#topfabric{  background-color: red;
  position:absolute;
  top:1000px;
  left:500px;
  height: 100px;
  width:800px;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {

  50% {transform:translateY(25px);}

}

#text_fabricleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1100px;
  left:-200px;
}

#text_fabricright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1600px;
  right:-200px;
}

#text_fabricleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
   height:300px;
   position:absolute;
   top:2300px;
   left:-200px;
}

#text_fabricright2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:2800px;
  right:-200px;
}


#text_fabricleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1100px;
  left:-200px;
}

#text_fabricright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:1600px;
  right:-200px;
}

#text_fabricleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:2300px;
  left:300px;
}

#text_fabricright2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:2800px;
  right:400px;
}

#smoke {position:absolute;
  top:3325px;
  left:255px;
}

#factory {  position:absolute;
  top:3500px;
  left:400px;
  z-index: 1;

}

#factory2 {  position:absolute;
  top:3500px;
  left:0px;

}
#factory3 {
  position:absolute;
  top:3500px;
  right:-300px;

}

#text_factoryleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:3300px;
  left:300px;
}

#text_factoryright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:3800px;
  right:400px;
}

#text_factoryleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:3500px;
  right:500px;
}

/*STORE*/

#f22{  position:absolute;
  top:4500px;
  left:100px;
  }

#zaza {  position:absolute;
        top:4500px;
        left:500px;
      }

#hanger {  position:absolute;
        top:4300px;
        left:500px;
      }

#text_store {
          position:absolute;
          top:4300px;
          left:300px;

}

#text_store1 {
          position:absolute;
          top:4300px;
          left:600px;

}

/*GOODWILL*/

#goodwill {  position:absolute;
        top:5300px;
        left:500px;
      }

/*COUNTRIES*/

#country1 {  position:absolute;
        top:6300px;
        left:200px;
      }

#country2 {  position:absolute;
        top:6300px;
        left:500px;

}

#country3 {  position:absolute;
        top:6300px;
        left:700px;

}

#country4 {  position:absolute;
        top:6300px;
        left:800px;

}




#text_landfillleft {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5100px;
  left:300px;
}

#text_landfillright {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5600px;
  right:-200px;
}

#text_landfillleft2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5300px;
  left:300px;
}

#text_landfillright2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:200px;
  height:300px;
  position:absolute;
  top:5800px;
  right:400px;
}

#earth {  position:absolute;
        top:9300px;
        left:800px;

}

/*ALTERNTIVES*/
.alternatives{
  position:fixed;
  top:6000px;
  width: 300px;
  height: 100px;
  background-color:#0000ff;
  left:40%;
  color:white;
  text-align: center;
  line-height: 100px;
  opacity: 0.6;
}

.vert_parallax{
  position:fixed;
  top:6000px;
  width: 300px;
  height: 100px;
  background-color:#0000ff;
  left:40%;
  color:white;
  text-align: center;
  line-height: 100px;
  opacity: 0.6;
}

#parallax_wrap{
  height: 100%;
  width: 100%;
  background-color: red;
}

#parallax_wrap div:nth-child(2){
  left: 0;
}

#parallax_wrap div:nth-child(3){
  top:6000px;
  left: 80%;
}

/*Section guidelines*/
#section1{
  height:1000px;
  width:
  margin:0 auto;
  position:relative;

}
#section2{
  border:2px solid green;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section3{
  border:2px solid yellow;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section4{
  border:2px solid blue;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section5{
  border:2px solid orange;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section6{
  border:2px solid purple;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section7{
  border:2px solid red;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section8{
  border:2px solid blue;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section9{
  border:2px solid yellow;
  height:1000px;
  margin:0 auto;
  position:relative;

}
#section10{
  border:2px solid green;
  height:1000px;
  margin:0 auto;
  position:relative;
}

/*End section guidelines*/
